{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
    </br>
      <div class="card" style="width: 18rem;" data-bs-theme="dark">
        <img src="Compression-Front with logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rage Culture Clothing</h5>
          <p class="card-text">Rage Culture produces Quality clothing to fit any size and type of person, we vary from compression shirts to tanks to baggy muscle t's and soon to be hoodies</p>
          <a href="Supplements.html" class="btn btn-primary">View Clothing</a>
        </div>
      </div>
    </div>

    <div class="col">
    </br>
      <div class="card" style="width: 18rem;" data-bs-theme="dark">
          <div class="card" style="width: 18rem;">
              <img src="Rage Culture Logo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"> <h4>Who are we?</h3>
                  Rage Culture is a brand founded out of the Northern Rivers in NSW Australia, we offer a variety of things including but not limited to; Personal Training, Supplements and Clothing, with us you are guaranteed quality services, treatment and clothing, we do not settle for amature or "Good Enough", and if youre still skeptical, that just means youre not serious about your goals.</p>
              </div>
            </div> 

        </div>
    </div>
    <div class="col">
    </br>
    <div class="card" style="width: 18rem;" data-bs-theme="dark">
      <img src="download.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rage Culture Supplements</h5>
        <p class="card-text">Rage Culture produces Quality Supplements and Pre Workouts to blow your brain out of your skull and your muscles to pierce your skin, you will not find a wider range of stim formuals from enough to keep you going all the way to stim formulas to make you peal your skin back and itch the bugs under it.</p>
        <a href="Supplements.html" class="btn btn-primary">View Supplements</a>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
<!--DONT TOUCH-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>